  *{
    box-sizing: border-box;
  }
     
    body {
      background-color: #333;
      color: whitesmoke;
      font-size: 1.5em;
    }

    main {
      padding: 18px;
    }

    nav {
      background-color: gold;
      color: #333;
    }

  ul {
    list-style-type: none;
    text-align: right;
    margin-right: 150px;
  }

  li {
    display: inline-block;
  }

  li #navbar {
    color: black ;
  }

  li #navbar:focus, #navbar:hover {
    text-decoration: underline;
  }


    h1 {
      margin: 25px 0;
    }

    .arabic {
      text-align: right;
    }

    .quran {
      font-style: oblique;
    }

    a {
      color: aliceblue;
        text-decoration: none;
    }

    button {
      background-color: hsl(0, 0%, 20%);
      border-color: #eee;
      color: #333;  
      border-radius: 5px;
      padding: 10px 15px;
      margin: 10px 0;
    }

    section {
      width: 100%;
      border: 2px solid gold;
      border-radius: 2rem;
      text-align:justify;
      margin: auto;
      padding: 2rem;
    }

    #darkModeToggle {
  position: fixed;
  top: 0px;
  right: 20px;
  z-index: 1000;
  padding: 10px 15px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  border-color: #eee;
}

body.dark-mode {
    background-color: #f9f9f9;
  color: #333;
}

/* body.dark-mode section {
  background-color: #222;
  color: #eee;
  border-color: gold;
} 
  */